body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(180deg, #7950f2 5%, #f783ac 95%) no-repeat;
  min-height: 100vh;
}

#container {
  background-color: whitesmoke;
  display: flex;
  width: 500px;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
}

.active {
  cursor: pointer;
}

.panel {
  box-sizing: border-box;
}

.outline {
  outline: 1px solid black;
}

.black {
  background-color: black;
}

button {
  border: none;
  background-color: #f783ac;
  font-weight: 800;
  color: white;
  padding: 5px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
}
